@charset "UTF-8";

body {
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(219, 4, 247, 0.856), rgb(71, 9, 129));
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.romano {
    position: fixed;
    opacity: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.imagem {
    width: 300px;
    height: 260px;
    background-size: cover;
    display: flex;
    align-items: center;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 70%;
    height: 95%;
}

.entradas {
    position: relative;
    z-index: 1;

}

.slider {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20px;
    width: 640px;
    height: 380px;
    box-shadow: 0px 0px 10px;
    overflow: hidden;
}

.btn_menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -350px;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    gap: 10px;
    width: 250px;
    height: 20px;
}

.btn {
    background-image: linear-gradient(to bottom, rgba(114, 112, 112, 0.664), rgba(0, 0, 0, 0.664));
    border: 1px solid white;
    padding: 3px;
    border-radius: 5px;
    width: 40px;
    height: 10px;
    cursor: pointer;
}

.imagem {
    width: 640px;
    height: 350px;
    background-size: cover;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin: 0;
}

.imagem img {
    width: 650px;
}

.ativo1~.imagem {
    margin-left: 0;
    transition: 1s;
}

.ativo1~.btn_menu #btn1 {
    background-image: linear-gradient(to bottom, rgba(212, 211, 211, 0.384), rgba(61, 61, 61, 0.712));
    border: 2px solid #9619f0;
    height: 11px;
}

.ativo2~.imagem {
    margin-left: -640px;
    transition: 1s;
}

.ativo2~.btn_menu #btn2 {
    background-image: linear-gradient(to bottom, rgba(212, 211, 211, 0.384), rgba(61, 61, 61, 0.712));
    border: 2px solid #9619f0;
    height: 11px;
}

.ativo3~.imagem {
    margin-left: -1280px;
    transition: 1s;
}

.ativo3~.btn_menu #btn3 {
    background-image: linear-gradient(to bottom, rgba(212, 211, 211, 0.384), rgba(61, 61, 61, 0.712));
    border: 2px solid #9619f0;
    height: 11px;
}

.ativo4~.imagem {
    margin-left: -1920px;
    transition: 1s;
}

.ativo4~.btn_menu #btn4 {
    background-image: linear-gradient(to bottom, rgba(212, 211, 211, 0.384), rgba(61, 61, 61, 0.712));
    border: 2px solid #9619f0;
    height: 11px;
}

.somos {
    background-color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 80px;
    padding: 1rem;
    position: absolute;
    width: 470px;
    height: 90px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    margin: 0px;
}
.somos img {
    width: 100px;
    margin-right: 1rem;
}
.somos p {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.somos h4, .somos h2 {
    display: none;
}

.navBot{
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    color: white;
    background-color: black;
}

.navBot p { 
    margin: 0;
}

.navBar nav p {
    margin: 0;
}

.exit {
    display: none;
}

@media (max-width:700px) {
    main {
        width: 95%;
    }

    .navBot p { 
        font-size: 10px;
    }

    .romano {
        width: 1000px;
        opacity: 25%;
    }

    .btn_menu {
        bottom: -170px;
        height: 10px;
    }

    .btn {
        height: 8px;
        background-image: linear-gradient(to bottom, rgba(114, 112, 112, 0.548), rgba(0, 0, 0, 0.479));
    }

    .slider {
        width: 320px;
        height: 200px;
    }

    .imagem {
        width: 320px;
        height: 200px;
    }
    .imagem img {
        width: 320px;
        height: 240px;
    }

    .somos {
        background-color: aliceblue;
        margin: 0;
        border: 1px solid rgba(0, 0, 0, 0.705);
        border-radius: 80px;
        width: 75%;
        height: 70px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: start;
        overflow: hidden;
    }

    .somos img {
        position: absolute;
        right: 1%;
        left: none;
        display: flex;
        width: 70px;
        cursor: pointer;
        transition: right 2s;
    }

    .somos #nós {
        position: absolute;
        max-height: 90px;
        margin: 0;
        left: 600px;

    }

    .sob {
        position: absolute;
        display: flex;
        align-items: center;
        left: 10%;
    }

    .somos h2{
        display: flex;
        font-size: 40px;
    }

    .somos h4{
        font-size: 30px;
        display: flex;
    }

    h4 {
        margin-left: 12px;
        font-weight: bold;
    }

    .sobre img {
        width: 85px;
        right: 65%;
        z-index: 5;
    }

    .sobre h2,.sobre h4 {
        position: absolute;
        font-size: 0px;
        transition: 1s;
    }

    .sobre #nós {
        display: flex;
        position: absolute;
        right: 12px;
        left: 110px;
        bottom: 16px;
        text-align: center;
        transition: all 2s;
    }

    .ativo1~.imagem {
        margin-left: 0;
        transition: 1s;
    }
    
    .ativo2~.imagem {
        margin-left: -320px;
        transition: 1s;
    }
    
    .ativo3~.imagem {
        margin-left: -640px;
        transition: 1s;
    }
    
    .ativo4~.imagem {
        margin-left: -960px;
        transition: 1s;
    }
}

@media (max-height: 750px) {
    .somos {
        width: 300px;
        height: 65px;
        text-align: center;
    }   

    #familia {
        width: 78px;
    }

    .slider {
        width: 380px;
        height: 230px;
    }

    .imagem {
        width: 380px;
        height: 230px;
    }
    .imagem img {
        width: 380px;
        height: 270px;
    }
}