/* efeitos de header*/

.navBar {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 10px;
    z-index: 4;
}

.lista {
    display: flex;
    list-style: none;
    font-size: large;
}

.lista {
    margin-left: 1rem;
    padding: 0px;
}

.lista a {
    margin: 4px;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.lista a:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.61), rgb(241, 67, 233), rgb(210, 0, 252));
}

.menu {
    position: inherit;
    display: none;
    flex-direction: column;
    width: 40px;
    height: 27px;
    margin-left: 40px;
    cursor: pointer;
}

.exit{
    position: fixed;
    width: 40px;
    top: 40px;
    left: 18px;
    display: none;
    z-index: 5;
    cursor: pointer;
}

.exit.Off {
    display: flex;
}

#men1 {
    background-color: white;
    margin-bottom: 5px;
    width: 20px;
    height: 3px;
    border-radius: 2px;
}

#men2 {
    background-color: white;
    width: 40px;
    height: 4px;
    border-radius: 2px;
}

#men3 {
    background-color: white;
    width: 20px;
    height: 3px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 2px;
}

.menu:hover #men1 {
    width: 40px;
    cursor: pointer;
    transition: 1s;
}

.menu:hover #men3 {
    width: 40px;
    cursor: pointer;
    margin-left: 0;
    transition: 1s;
}

.menuAtivo {
    width: 100%;
    height: 200px;
    margin-top: 180px;
    position: fixed;
    display: none;
}

.menuAtivo #menu img {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo h3 {
    color: white;
    text-align: end;
    margin-right: 1rem;
    padding-right: 5px;
    padding-bottom: 2px;
    background-image: linear-gradient(to left, rgb(135, 10, 252), rgba(204, 0, 255, 0.493), rgba(255, 0, 221, 0.048));
    width: 150px;
    border-radius: 50px 10px 5px 0px;
    cursor: default;
}

.logo img {
    margin-right: 1rem;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 1rem;
}

@media (max-width: 700px) {
    .menuAtivo {
        display: flex;
        margin-top: 300px;
        border-radius: 0px 20px;
        background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.76));
    }

    #inicio {
        left: 2%;
        position: absolute;
        width: 50%;
    }

    #inicio a{
        padding: 10px 20px;
    }

    #pedido {
        position: absolute;
        right: 2%;
        width: 50%;
    }

    #pedido a{
        padding: 10px 20px;
    }

    #quem {
        right: 3%;
        top: 100px;
        position: absolute;
        width: 50%;
    }

    #quem a{
        padding: 10px 20px;
    }

    #feedback {
        left: 1%;
        top: 100px;
        position: absolute;
        width: 50%;
    }

    #feedback a{
        padding: 10px 20px;
    }

    .exit.Off~.lista {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        font-size: x-large;
        margin-top: 80px;
        z-index: 5;
    }

    .exit.Off~.lista a {
        color: black;
        z-index: 5;
    }

    .menuAtivo~.menu {
        display: none;
    }

    .lista {
        display: none;
    }

    .navBar {
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        position: absolute;
        bottom: 45%;
        left: 0;
        transform: translate(-50%, 50%);
    }

    .logo h3 {
        margin-right: 1x;
    }

    .logo img {
        margin-left: 0;
    }
}

@media (max-height:950px) {}