#pedido a {
    color: orange;
}

#pedido a:hover {
    color: #7a918d;
}

.cardapio {
    margin-top: 60px;
    width: 350px;
    height: 75%;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.74),rgba(41, 41, 41, 0.596));
}

.cardapio img {
    top: 3%;
    position: absolute;
    width: 135px;
    height: 170px;
    border-radius: 15px;
    box-shadow: 4px 2px 12px;
    left: 50%;
    transform: translate(-50%);
}

.cardapio #_400ml {
    position: absolute;
    left: 30%;
    transition: left 0.5s;
}

.cardapio #_400ml:hover {
    position: absolute;
    z-index: 2;
    left: 45%;
}

.cardapio #_300ml {
    position: absolute;
    transition: left 0.5s;
    left: 70%;
}

.cardapio #_300ml:hover {
    left: 55%;
    z-index: 2;
}

._400m {
    border: 2px solid #9619f0;
    z-index: 3;
}

._300m {
    border: 2px solid #9619f0;
    z-index: 3;
}

.formulario label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(255, 0, 234), rgba(205, 50, 252, 0.842),blueviolet, rgba(0, 0, 0, 0.445));
    width: 68px;
    height: 25px;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
}

.pedido {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.formulario {
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formulario input {
    display: none;
}

.ingredientes {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.fechar {
    margin-top: 20px;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.nav_pag {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 40px;
    background-color: black;

}

#nav_pag {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: -30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

button {
    display: none;
}

#sub {
    font-size: xx-large;
    width: 130px;
    height: 34px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( to bottom, #9619f0fb, #6a05b360);
}