#pedido a {
    color: orange;
}

#pedido a:hover {
    color: #7a918d;
}

.cardapio {
    margin-top: 60px;
    width: 350px;
    height: 75%;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.74),rgba(41, 41, 41, 0.596));
}

.cardapio img {
    top: 3%;
    position: absolute;
    width: 135px;
    height: 170px;
    border-radius: 15px;
    box-shadow: 4px 2px 12px;
    left: 50%;
    transform: translate(-50%);
}

.cardapio #_400ml {
    position: absolute;
    left: 30%;
    transition: left 0.5s;
}

.cardapio #_400ml:hover {
    position: absolute;
    z-index: 2;
    left: 45%;
}

.cardapio #_300ml {
    position: absolute;
    transition: left 0.5s;
    left: 70%;
}

.cardapio #_300ml:hover {
    left: 55%;
    z-index: 2;
}

._400m {
    border: 2px solid #9619f0;
    z-index: 3;
    left: 50%;
}

._300m {
    border: 2px solid #9619f0;
    z-index: 3;
    left: 50%;
}

.formulario label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(255, 0, 234), rgba(205, 50, 252, 0.842),blueviolet, rgba(0, 0, 0, 0.445));
    width: 68px;
    height: 25px;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
}

.pedido {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.formulario {
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formulario input {
    display: none;
}

.ingredientes {
    margin-top: 35px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.ingredientes img {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    box-shadow: none;
    cursor: pointer;
}

.cardapio section {
    width: 220px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.37);
}

.one,.two,.tree {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one img, .two img,.tree img {
    left: 40px;
}

.tree #bolinha_jpg {
    left: 45px;
}

.peg {
    opacity: 75%;
    background-color: blue;
    border: 3px solid #9619f0;
}

.fechar {
    margin-top: 20px;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.nav_pag {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 40px;
    background-color: black;

}

#nav_pag {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: -30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

button {
    display: none;
}

#sub {
    font-size: xx-large;
    width: 130px;
    height: 34px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( to bottom, #9619f0fb, #6b05b365);
}

@media (max-height: 712px) {
    .navBar {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        background-color: black;
        margin-top: 10px;
        z-index: 4;
    }

    .logo img{
        width: 50px;
    }

    .cardapio img {
        top: 3%;
        position: absolute;
        width: 115px;
        height: 135px;
        border-radius: 15px;
        box-shadow: 4px 2px 12px;
        left: 50%;
        transform: translate(-50%);
    }

    .pedido {
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .ingredientes {
        margin-top: 20px;
        width: 220px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
    }

    .one img, .two img,.tree img {
        position: relative;
        box-shadow: none;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        left: 40px;
    }
}